*{
    margin: 0;
    padding : 0;
    box-sizing: border-box;
}

.app{
    background-color: #fafafa;
    font-family: Arial, Helvetica, sans-serif;
}

.app__header{
    object-fit: contain;
    background-color: white;
    padding: 20px;
    border-bottom: 1px solid lightgray;
    display: flex;
    justify-content: space-between;
    position: sticky;
    top:0;
    z-index:12;
}

.app__headerImage {
    width:120px;
    object-fit: contain;
}

.app__signup{
    display: flex;
    flex-direction: column;
}

.app__posts{
    padding: 20px;
    display:flex;
    justify-content:center;
}

.app__postsRight{
    margin-left:20px;
}
.loginForm{
    position: fixed;
    bottom:0;
    width:100%;
    background-color: white;
    z-index:12;
    border-top:1px solid lightgray;
}